<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center; border-spacing: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;">
      <th style="padding:10px">predicted</th>
      <th style="padding:10px">eui</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding:10px">16.432823</td>
      <td style="padding:10px">0.002233</td>
    </tr>
    <tr>
      <td style="padding:10px">8.493501</td>
      <td style="padding:10px">0.001598</td>
    </tr>
    <tr>
      <td style="padding:10px">17.266503</td>
      <td style="padding:10px">0.001308</td>
    </tr>
    <tr>
      <td style="padding:10px">22.626273</td>
      <td style="padding:10px">0.001252</td>
    </tr>
    <tr>
      <td style="padding:10px">59.756608</td>
      <td style="padding:10px">0.001207</td>
    </tr>
    <tr>
      <td style="padding:10px">20.339480</td>
      <td style="padding:10px">0.000495</td>
    </tr>
    <tr>
      <td style="padding:10px">16.435915</td>
      <td style="padding:10px">0.000342</td>
    </tr>
    <tr>
      <td style="padding:10px">14.126727</td>
      <td style="padding:10px">0.000342</td>
    </tr>
    <tr>
      <td style="padding:10px">22.016199</td>
      <td style="padding:10px">0.000317</td>
    </tr>
    <tr>
      <td style="padding:10px">18.643620</td>
      <td style="padding:10px">0.000243</td>
    </tr>
    <tr>
      <td style="padding:10px">5.776138</td>
      <td style="padding:10px">0.000217</td>
    </tr>
    <tr>
      <td style="padding:10px">12.961332</td>
      <td style="padding:10px">0.000169</td>
    </tr>
    <tr>
      <td style="padding:10px">16.463124</td>
      <td style="padding:10px">0.000162</td>
    </tr>
    <tr>
      <td style="padding:10px">16.615268</td>
      <td style="padding:10px">0.000136</td>
    </tr>
    <tr>
      <td style="padding:10px">18.763546</td>
      <td style="padding:10px">0.000122</td>
    </tr>
    <tr>
      <td style="padding:10px">20.335633</td>
      <td style="padding:10px">0.000114</td>
    </tr>
    <tr>
      <td style="padding:10px">21.930113</td>
      <td style="padding:10px">0.000065</td>
    </tr>
    <tr>
      <td style="padding:10px">13.163377</td>
      <td style="padding:10px">0.000058</td>
    </tr>
    <tr>
      <td style="padding:10px">31.870370</td>
      <td style="padding:10px">0.000043</td>
    </tr>
    <tr>
      <td style="padding:10px">-31.710027</td>
      <td style="padding:10px">-0.000363</td>
    </tr>
  </tbody>
</table>