<table class="simpletable">
<caption>OLS Regression Results</caption>
<tr>
  <th>Dep. Variable:</th>           <td>eui</td>       <th>  R-squared:         </th> <td>   0.031</td>
</tr>
<tr>
  <th>Model:</th>                   <td>OLS</td>       <th>  Adj. R-squared:    </th> <td>   0.026</td>
</tr>
<tr>
  <th>Method:</th>             <td>Least Squares</td>  <th>  F-statistic:       </th> <td>   6.773</td>
</tr>
<tr>
  <th>Date:</th>             <td>Thu, 14 Apr 2022</td> <th>  Prob (F-statistic):</th>  <td>0.00991</td>
</tr>
<tr>
  <th>Time:</th>                 <td>11:14:37</td>     <th>  Log-Likelihood:    </th> <td>  898.13</td>
</tr>
<tr>
  <th>No. Observations:</th>      <td>   214</td>      <th>  AIC:               </th> <td>  -1792.</td>
</tr>
<tr>
  <th>Df Residuals:</th>          <td>   212</td>      <th>  BIC:               </th> <td>  -1786.</td>
</tr>
<tr>
  <th>Df Model:</th>              <td>     1</td>      <th>                     </th>     <td> </td>   
</tr>
<tr>
  <th>Covariance Type:</th>      <td>nonrobust</td>    <th>                     </th>     <td> </td>   
</tr>
</table>
<table class="simpletable">
<tr>
      <td></td>         <th>coef</th>     <th>std err</th>      <th>t</th>      <th>P>|t|</th>  <th>[0.025</th>    <th>0.975]</th>  
</tr>
<tr>
  <th>Intercept</th> <td>    0.0006</td> <td>    0.001</td> <td>    0.650</td> <td> 0.517</td> <td>   -0.001</td> <td>    0.002</td>
</tr>
<tr>
  <th>BOOSTWT</th>   <td>    0.0014</td> <td>    0.001</td> <td>    2.603</td> <td> 0.010</td> <td>    0.000</td> <td>    0.002</td>
</tr>
</table>
<table class="simpletable">
<tr>
  <th>Omnibus:</th>       <td>65.030</td> <th>  Durbin-Watson:     </th> <td>   2.182</td>
</tr>
<tr>
  <th>Prob(Omnibus):</th> <td> 0.000</td> <th>  Jarque-Bera (JB):  </th> <td> 143.205</td>
</tr>
<tr>
  <th>Skew:</th>          <td> 1.427</td> <th>  Prob(JB):          </th> <td>8.00e-32</td>
</tr>
<tr>
  <th>Kurtosis:</th>      <td> 5.813</td> <th>  Cond. No.          </th> <td>    8.51</td>
</tr>
</table><br/><br/>Notes:<br/>[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.