{% extends "_layout.html" %}
{% block main_content %}
    <h1>Optimizing the Number of Principal Components</h1>
    <div>
        <p>
        The cumulative explained variance helps determine the optimal
        number of components to use as features for predictive modeling.
        We want the simplest model that still explains the  majority of the variance in the data.
        To determine the optimal number of components, cutoff thresholds are defined at 80% and 95%.
        Then the data is filtered to find the median within the range which exists within the cutoff boundaries.
    </p>
    </div>
{% endblock %}

{% block chart_content %}
    <div id="cbecs2012-optimComponents">
        <span class="plot">
            {% include 'plots/PCA_cumulative_expvar.html' %}
        </span>
    </div>
{% endblock %}